.navBar {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navItems {
  display: flex;
  gap: 20px;
  align-items: center;
}

.authBtn {
  display: flex;
  align-items: center;
}

.loginBtn {
  background-color: #213d77;
  padding: 10px 12px;
  border: none;
  color: white;
  font-weight: 700;
}
.registerBtn {
  background-color: transparent;
  border: none;
  font-weight: 500;
}
