.dashboard {
  background: url("https://images.goodreturns.in/img/2024/11/irctc121-1730616117.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
