.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 400px;
  background: white;
  border-radius: 10px;
  padding: 10px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.closeIcon {
  float: right;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}
form input {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid lightgray;
}
.authBtns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
}
form button {
  padding: 10px;
  background: bisque;
  border: 1px solid gray;
  border-radius: 8px;
  cursor: pointer;
}
